.home-page{

}
.wordle-game-container{

}
.wordle-error{

}
.wordle-grid {

}
.wordle-row{
    display: flex;
}
.game-tile {

}

.blank-tile {

}

.green-tile {
    background-color: green;
}
.yellow-tile {
    background-color: yellow;
}
.grey-tile {
    background-color: grey;
}


